# POSTTEST 4 Pre-Processing
## Nama: Gilang Raditya
## NIM: 2009106072

### Import Module

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Baca file csv lalu tampilkan info dataset

In [2]:
dataset = pd.read_csv("Weather Test Data.csv")

In [3]:
# Data
dataset.head()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,Row0,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
1,Row1,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
2,Row2,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,24.0,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No
3,Row3,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,28.0,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No
4,Row4,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,28.0,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes

In [4]:
# Info Dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42677 entries, 0 to 42676
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row ID         42677 non-null  object
 1   Location       42677 non-null  object
 2   MinTemp        42483 non-null  float64
 3   MaxTemp        42585 non-null  float64
 4   Rainfall       42250 non-null  float64
 5   Evaporation    24365 non-null  float64
 6   Sunshine       22178 non-null  float64
 7   WindGustDir    39868 non-null  object
 8   WindGustSpeed  39887 non-null  float64
 9   WindDir9am     39670 non-null  object
 10  WindDir3pm     41547 non-null  object
 11  WindSpeed9am   42264 non-null  float64
 12  WindSpeed3pm   41882 non-null  float64
 13  Humidity9am    42136 non-null  float64
 14  Humidity3pm    41573 non-null  float64
 15  Pressure9am    38411 non-null  float64
 16  Pressure3pm    38432 non-null  float64
 17  Cloud9am       26592 non-null  float64
 18  Cloud3pm       25585 non-null  float64
 19  Temp9am        42387 non-null  float64
 20  Temp3pm        41855 non-null  float64
 21  RainToday      42250 non-null  object
dtypes: float64(16), object(6)
memory usage: 7.2+ MB

## Bagi dataset training dan testing
Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
## Memisahkan Value dengan Label
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [6]:
# Memisahkan Data training dan testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)

In [7]:
# Tampilkan jumlah training dan testing
print(f"Bentuk x_train = {x_train.shape}\nBentuk x_test = {x_test.shape}")
print(f"Bentuk y_train = {y_train.shape}\nBentuk x_test = {y_test.shape}")

Bentuk x_train = (29873, 21)
Bentuk x_test = (12804, 21)
Bentuk y_train = (29873,)
Bentuk x_test = (12804,)

## Normalisasi Data
Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [8]:
# Import Module
from sklearn.preprocessing import MinMaxScaler

In [9]:
# Pembuatan MinMaxScaler
min_max = MinMaxScaler()
# Pembuatan copy dataset
dataset_min_max = dataset.copy()

In [10]:
# Pengaplikasian MinMaxScaler
data_normalisasi = min_max.fit_transform(dataset_min_max[['Rainfall']])

In [11]:
# Pengubahan ndarray menjadi dataframe
data_normalisasi = pd.DataFrame(data_normalisasi)

In [12]:
# Hasil normalisasi
data_normalisasi.head()

          0
0  0.000000
1  0.000000
2  0.000000
3  0.000000
4  0.056034

In [13]:
# Hasil normalisasi
data_normalisasi.describe()

                  0
count  42250.000000
mean       0.008415
std        0.030216
min        0.000000
25%        0.000000
50%        0.000000
75%        0.002155
max        1.000000

## Standarisasi Data
Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [14]:
# Import Module
from sklearn.preprocessing import StandardScaler

In [15]:
# Pembuatan StandardScaler
scaler = StandardScaler()
# Pembuatan copy dataset
data_standarisasi = dataset.copy()

In [16]:
# Melihat kolom apa saja yang bertipe float64
dataset.select_dtypes(include='float64').columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [17]:
# Pengaplikasian scaler untuk standarisasi
hasil_standarisasi = scaler.fit_transform(
    data_standarisasi[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
                       'Sunshine', 'WindGustSpeed', 'WindSpeed9am',
                       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
                       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
                       'Temp9am', 'Temp3pm']]
)

In [18]:
# Standar deviasi dari hasil standarisasi
np.nanstd(hasil_standarisasi.astype('float32'))

1.0

In [19]:
# Pengubahan ndarray menjadi dataframe
data_standarisasi = pd.DataFrame(
    hasil_standarisasi, columns=['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
                                 'Sunshine', 'WindGustSpeed', 'WindSpeed9am',
                                 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
                                 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
                                 'Temp9am', 'Temp3pm']
)

In [20]:
# Hasil standarisasi
data_standarisasi.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,4.248300e+04,4.258500e+04,4.225000e+04,2.436500e+04,2.217800e+04,3.988700e+04,4.226400e+04,4.188200e+04,4.213600e+04,4.157300e+04,3.841100e+04,3.843200e+04,2.659200e+04,2.558500e+04,4.238700e+04,4.185500e+04
mean,5.352110e-17,-3.737503e-16,-1.210866e-17,4.665990e-17,3.344786e-16,7.677788e-17,-1.210465e-17,-1.289367e-16,2.428284e-16,4.101947e-17,7.884766e-15,-2.153518e-14,5.344034e-17,-2.443923e-17,-4.613239e-16,-4.237283e-16
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000021e+00,1.000023e+00,1.000013e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000013e+00,1.000013e+00,1.000019e+00,1.000020e+00,1.000012e+00,1.000012e+00
min,-3.173179e+00,-3.937112e+00,-2.785140e-01,-1.292074e+00,-2.024342e+00,-2.425547e+00,-1.577410e+00,-2.112855e+00,-3.568729e+00,-2.427413e+00,-4.987553e+00,-5.429172e+00,-1.527782e+00,-1.636165e+00,-3.726454e+00,-3.898668e+00
25%,-7.167288e-01,-7.364440e-01,-2.785140e-01,-6.801310e-01,-7.273371e-01,-6.615867e-01,-7.884408e-01,-6.367250e-01,-6.207225e-01,-7.003204e-01,-6.599388e-01,-6.830923e-01,-1.181507e+00,-9.034533e-01,-7.272359e-01,-7.338124e-01
50%,-3.265403e-02,-9.069512e-02,-2.785140e-01,-1.623331e-01,2.255648e-01,-7.359971e-02,-1.121818e-01,4.456592e-02,6.363607e-02,1.930163e-02,2.594988e-03,1.027339e-03,2.035958e-01,1.956141e-01,-3.510866e-02,-8.645551e-02
75%,7.291564e-01,7.094719e-01,-2.071874e-01,4.496098e-01,8.078937e-01,5.878856e-01,5.640772e-01,6.123083e-01,7.479946e-01,6.909489e-01,6.792253e-01,6.851470e-01,8.961470e-01,9.283256e-01,7.031605e-01,6.903728e-01
max,3.045682e+00,3.334581e+00,3.281704e+01,3.283551e+01,1.760796e+00,6.026765e+00,6.763118e+00,7.311669e+00,1.642925e+00,2.322092e+00,3.216589e+00,3.378868e+00,1.242423e+00,1.294681e+00,3.440908e+00,3.409272e+00

## Data Cleaning

In [21]:
# cek jumlah nilai yang kosong per kolom
dataset.isna().sum()

row ID               0
Location             0
MinTemp            194
MaxTemp             92
Rainfall           427
Evaporation      18312
Sunshine         20499
WindGustDir       2809
WindGustSpeed     2790
WindDir9am        3007
WindDir3pm        1130
WindSpeed9am       413
WindSpeed3pm       795
Humidity9am        541
Humidity3pm       1104
Pressure9am       4266
Pressure3pm       4245
Cloud9am         16085
Cloud3pm         17092
Temp9am            290
Temp3pm            822
RainToday          427
dtype: int64

In [22]:
# cek kolom yang betipe object
dataset.select_dtypes(include='object').columns

Index(['row ID', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm',
       'RainToday'],
      dtype='object')

In [23]:
# cek kolom yang bertipe float 64
dataset.select_dtypes(include='float64').columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [24]:
# kolom yang bertipe float 64
float_cols = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
              'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
              'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
              'Temp9am', 'Temp3pm']

# cek apakah kolom yang bertipe float 64 bisa dijadikan bilangan bulat (integer)
for i in float_cols:
    print(f"Apakah {i} Bilangan Bulat? {'Ya' if dataset[i].dropna().apply(float.is_integer).all() else 'Tidak'}")

Apakah MinTemp Bilangan Bulat? Tidak
Apakah MaxTemp Bilangan Bulat? Tidak
Apakah Rainfall Bilangan Bulat? Tidak
Apakah Evaporation Bilangan Bulat? Tidak
Apakah Sunshine Bilangan Bulat? Tidak
Apakah WindGustSpeed Bilangan Bulat? Ya
Apakah WindSpeed9am Bilangan Bulat? Ya
Apakah WindSpeed3pm Bilangan Bulat? Ya
Apakah Humidity9am Bilangan Bulat? Ya
Apakah Humidity3pm Bilangan Bulat? Ya
Apakah Pressure9am Bilangan Bulat? Tidak
Apakah Pressure3pm Bilangan Bulat? Tidak
Apakah Cloud9am Bilangan Bulat? Ya
Apakah Cloud3pm Bilangan Bulat? Ya
Apakah Temp9am Bilangan Bulat? Tidak
Apakah Temp3pm Bilangan Bulat? Tidak

### Data Cleaning pada nilai null
Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [25]:
# Pembuatan copy dataset
data_cleaning = dataset.copy()

In [26]:
# Import Module
from sklearn.impute import SimpleImputer

In [27]:
# Pembuatan Imputation dengan pengganti rata-rata
impute_mean = SimpleImputer(strategy='mean')
# Pembuatan Imputation dengan pengganti median
impute_median = SimpleImputer(strategy='median')
# Pembuatan Imputation dengan pengganti modus
impute_modes = SimpleImputer(strategy='most_frequent')

In [28]:
bulat_cols = ['WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
              'Humidity3pm', 'Cloud9am', 'Cloud3pm']
desimal_cols = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
                'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']
object_cols = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

# penggantian kolom bilangan bulat yang null dengan median
for i in bulat_cols:
    data_cleaning[i] = impute_median.fit_transform(data_cleaning[[i]])

# penggantian kolom bilangan desimal yang null dengan rata-rata
for i in desimal_cols:
    data_cleaning[i] = impute_mean.fit_transform(data_cleaning[[i]])

# penggantian kolom bilangan object yang null dengan modus
for i in object_cols:
    data_cleaning[i] = impute_modes.fit_transform(data_cleaning[[i]])

In [29]:
# Hasil data cleaning
data_cleaning.isna().sum()

row ID           0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

### Data cleaning pada nilai duplikat
Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [30]:
# Cek apakah data mempunyai nilai duplikat
data_cleaning.duplicated().sum()

0

In [31]:
# Tambah nilai duplikat ke data
data_cleaning = pd.concat([data_cleaning, data_cleaning.iloc[range(100, 250, 4)]], ignore_index=True)
# Cek lagi apakah data mempunyai nilai duplikat
data_cleaning.duplicated().sum()

38

In [32]:
# Hapus nilai yang duplikat
data_cleaning.drop_duplicates(inplace=True)
# Cek apakah data mempunyai nilai duplikat
data_cleaning.duplicated().sum()

0

###

## Ganti tipe data
Ganti tipe data salah satu attribute angka

In [33]:
# convert tipe data WindGustSpeed dari float64 ke int64
data_cleaning[bulat_cols[0]] = data_cleaning[bulat_cols[0]].astype('int64')

In [34]:
# cek tipe data WindGustSpeed
data_cleaning["WindGustSpeed"].dtype

dtype('int64')

## Encoding Data
Lakukan one hot encoding pada dataset yang kalian miliki.

In [35]:
# Import Module
from sklearn.preprocessing import OneHotEncoder

In [36]:
# Pembuatan OneHotEncoder
encoder_one = OneHotEncoder(sparse=False)

In [37]:
# Pembuatan copy dataset
data_encoding = data_cleaning.copy()

In [38]:
# Pengaplikasian onehotencoder pada label
temp_data = encoder_one.fit_transform(data_encoding[["RainToday"]]).astype('int32')

In [39]:
# Pengubahan ndarray menjadi dataframe
temp_data = pd.DataFrame(temp_data)

In [40]:
# Hapus kolom yang sudah ada
data_encoding.drop("RainToday", axis=1, inplace=True)
# Gabung hasil encoding dengan data
data_encoding = data_encoding.join(temp_data)
# Ganti nama kolom dari encoding yang kita gabung dengan nama kelas
data_encoding.rename(columns={0: 'No', 1: 'Yes'}, inplace=True)

In [41]:
# Hasil Encoding
data_encoding.head()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,No,Yes
0,Row0,Albury,12.9,25.7,0.0,5.489715,7.647831,WSW,46,W,...,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,1,0
1,Row1,Albury,9.2,28.0,0.0,5.489715,7.647831,NE,24,SE,...,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,1,0
2,Row2,Albury,14.3,25.0,0.0,5.489715,7.647831,W,50,SW,...,49.0,19.0,1009.6,1008.2,1.0,5.0,18.1,24.6,1,0
3,Row3,Albury,9.7,31.9,0.0,5.489715,7.647831,NNW,80,SE,...,42.0,9.0,1008.9,1003.6,5.0,5.0,18.3,30.2,1,0
4,Row4,Albury,15.9,18.6,15.6,5.489715,7.647831,W,61,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,0,1